 .title{
    width:100%;
  font-size: 300%;
         margin-bottom: 10px;
         text-align:center;
         width: 210px;
         color:black;
         border: solid black 2px;
 
         }
  
         input[type="button"]
         {
         background-color:gray;
         color: black;
         border: solid black 2px;
         width:100%;
          font-size: 80%;
          height:100%;
         }
  
         input[type="text"]
         {
          font-size: 80%;
         background-color:white;
         border: solid black 2px;
         width:100%;
          height:17vh;
         }
tr {
 font-size: 200%;
  width:100%;
}
td {
 font-size: 200%;
width:25%; 
}
table {
 font-size: 150%;
  width:100%;
 height:85vh;
}
